Repository stackernews/stacker.news, pull requests merged in 2025-09, with the labels that each got.

#2478 Update CLN createrune & certificate help
  wallets/client/components/form/index.js
  wallets/lib/protocols/clnRest.js
Labels: documentation, wallets

#2479 Include localhost as SAN in CLN TLS certificates
  docker/cln/ca.srl
  docker/cln/client-key.pem
  docker/cln/client.csr
  docker/cln/client.pem
  docker/cln/csr.conf
  docker/cln/server.csr
  docker/cln/server.pem
Labels: sndev, wallets

#2464 Use precache manifest generated by webpack plugin
  next.config.js
  package-lock.json
  package.json
  sw/build.js
  sw/index.js
Labels: bug, pwa

#2486 Fix CLN container build on ARM
  docker/cln/Dockerfile
Labels: bug, sndev

#2491 Fix 'LNbits send does not support tor'
  wallets/lib/protocols/lnbits.js
Labels: bug, wallets

#2462 Refactor live comments and comment injection
  api/resolvers/item.js
  api/typeDefs/item.js
  components/comment.js
  components/comment.module.css
  components/comments.js
  components/preserve-scroll.js
  components/reply.js
  components/use-can-edit.js
  components/use-comments-navigator.js
  components/use-live-comments.js
  components/use-paid-mutation.js
  fragments/comments.js
  lib/apollo.js
  lib/comments.js
  styles/globals.scss
Labels: ui/ux, performance, refactor

#2450 Use bot icon as badge
  components/badge.js
  components/item-info.js
  svgs/robot-2-fill.svg
Labels: enhancement, ui/ux

#2497 Fix cashu.me lnaddr support
  prisma/migrations/20250909015503_remove_cashu_me_lnaddr/migration.sql
Labels: bug, wallets

#2504 Change order of tag and level in log message
  styles/logger.module.css
  wallets/client/components/logger.js
Labels: ui/ux, wallets

#2524 Fix missing custom expiry for phoenixd invoices
  wallets/server/protocols/phoenixd.js
Labels: bug, wallets

#2527 Add sox to footer
  components/footer.js
Labels: ui/ux

#2530 Update wallets/README.md
  wallets/README.md
Labels: documentation, wallets

#2534 Fix error message if no route found
  api/lnd/index.js
Labels: bug, ui/ux, wallets

#2294 Use WindowClient.navigate() instead of service worker message
  pages/_app.js
  sw/index.js
Labels: bug, ui/ux, pwa

#2367 Delete NWC plaintext credentials that allow payments
  prisma/migrations/20250910153121_delete_nwc_recv_with_payments/migration.sql
Labels: wallets

#2539 Add unit to poll interval constants
  .env.development
  .env.production
  components/block-height.js
  components/chain-fee.js
  components/fee-button.js
  components/footer-rewards.js
  components/invoice.js
  components/lightning-auth.js
  components/me.js
  components/price.js
  components/sub-select.js
  components/use-has-new-notes.js
  lib/constants.js
  next.config.js
  pages/directs/[id].js
  pages/rewards/index.js
  pages/withdraw.js
  pages/withdrawals/[id].js
  wallets/client/context/hooks.js
  wallets/client/hooks/logger.js
  wallets/client/hooks/payment.js
Labels: refactor

#2541 Poll for wallets until success
  wallets/client/hooks/query.js
Labels: bug, wallets

#2544 Add comment about magic login code security
  pages/api/auth/[...nextauth].js
Labels: documentation, auth

#2556 Remove NWC receive for Coinos
  prisma/migrations/20250920162959_remove_coinos_nwc_receive/migration.sql
Labels: wallets

#2551 Add Rizful guide
  wallets/lib/wallets.json
Labels: documentation, wallets

#2559 Remove lightning address domain on paste
  wallets/client/components/form/index.js
Labels: bug, ui/ux, wallets

#2557 Coinos guide
  lib/constants.js
  wallets/lib/protocols/docs/user/coinos.md
  wallets/lib/wallets.json
Labels: documentation, wallets

#2564 Use NWC lud16 parameter as initial value for lightning addresses
  wallets/client/components/form/hooks.js
  wallets/lib/validate.js
Labels: feature, ui/ux, wallets

#2561 Improve error messages on wrong permissions
  wallets/client/errors.js
  wallets/client/protocols/nwc.js
  wallets/server/protocols/nwc.js
  wallets/server/resolvers/protocol.js
Labels: ui/ux, wallets

#2518 CLINK offers
  api/typeDefs/wallet.js
  docker-compose.yml
  package-lock.json
  package.json
  prisma/migrations/20250905014333_clink_recv/migration.sql
  prisma/schema.prisma
  wallets/client/fragments/protocol.js
  wallets/client/fragments/wallet.js
  wallets/client/hooks/query.js
  wallets/lib/protocols/clink.js
  wallets/lib/protocols/docs/dev/clink.md
  wallets/lib/protocols/index.js
  wallets/lib/validate.js
  wallets/server/protocols/clink.js
  wallets/server/protocols/index.js
  wallets/server/resolvers/util.js
Labels: feature, wallets

#2579 Check if wallet provided correct proof of payment before logging success
  package-lock.json
  package.json
  wallets/client/hooks/payment.js
  wallets/client/protocols/lnc.js
Labels: bug, wallets

#2584 Fix draft gone if wallet prompt closed
  components/form.js
  components/use-item-submit.js
Labels: bug, ui/ux, wallets

#2585 Replace lib/hex with Buffer.from
  lib/hex.js
  wallets/client/hooks/crypto.js
Labels: wallets, refactor
